body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  margin: 0 auto;
  width: 360px;
  box-sizing: border-box;
}

.content-section_theme_dark {
  color: #fff;
  background-color: #000;
}

.content-section_theme_bright {
  color: #000;
  background-color: #ff0;
}
